 body{
    background: url(https://i.pinimg.com/736x/8f/2e/0f/8f2e0f39b68707932a7307ea51102de1.jpg);
    background-size: cover;
     font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
} 

ul > a {
    position: relative;
    display: inline-block;
    
}

ul > a::after{
    content: "";
    position: absolute;
    left:0;
    bottom:-4px;
    height: 2px;
    width: 0;
    background: #A35E47;
    transition: all 300ms;

}

ul > a:hover::after {
    width: 100%;
}